<!-- Menu -->
<div class="app-brand demo">
  <a href="index.html" class="app-brand-link">
   
    <span class="app-brand-text menu-text fw-bolder ms-2">Ace Project</span>
  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>

<div class="menu-inner-shadow"></div>
<!-- Menu admin -->
<ul class="menu-inner py-1">
  <li *ngFor="let item of history" class="menu-item">
    <a class="menu-link">
      <i class="menu-icon tf-icons bx bx-file-blank"></i>
      <div class="text-truncate">{{ item.input }}</div>
    </a>
  </li>
</ul>


<!-- / Menu admin-->
 